
<h1>codeial / <%= title %></h1>
<form method="post" action="">
    <label for="username">USER NAME</label>
    <input type="text" name="username" >
    <label for="password">PASSWORD</label>
    <input type="text" name="password" >
    <label for="name" >NAME</label>
    <input type="text" name="name">
    <button type="submit" >
        SUBMIT
    </button>
</form>
 