<h1>
    SIGN UP
</h1>

<form method="post" action="/users/create">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Your Password" >
    <input type="password" name="confirm-password" placeholder="confirm password" required>
    <input type="submit" value="SIGN UP" >
     
</form>