<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <p><%= user.email %></p>
        <p><%= user.password %></p>
        <p><%= user.name %></p>
        <a href="/users/sign-out">SIGN OUT</a>
    </body>
</html>